@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Graphik';
    src: url(/jma-web-v2/fonts/GraphikRegular.otf) format('otf');
    font-weight: 'regular';
    font-style: 'regular'
}

@font-face {
    font-family: 'Graphik';
    src: url(/jma-web-v2/fonts/GraphikMedium.otf) format('otf');
    font-weight: 'medium';
    font-style: 'regular'
}

@font-face {
    font-family: 'Graphik';
    src: url(/jma-web-v2/fonts/GraphikSemibold.otf) format('otf');
    font-weight: 'semi-bold';
    font-style: 'regular'
}

@font-face {
    font-family: 'Graphik';
    src: url(/jma-web-v2/fonts/GraphikSuper.otf) format('otf');
    font-weight: 'bold';
    font-style: 'regular'
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

#typed-text {
    font-size: 120px;
    padding-right: 2px;
    animation: blink 1s step-start infinite;
    color: white
}

.header-typed {
    font-size: 100px;
    font-family: 'interstate', sans-serif;
    font-weight: 500;
}

#typed-text {
    white-space: pre-line;
}

#cursor {
    display: inline-block;
    margin-left: 0.1em;
    background-color: white;
    width: 2px; /* Adjust as needed for cursor thickness */
    height: 130px; /* Adjust height to match your font size */
    animation: blink 1s step-start infinite;
}

.scrolling-bar {
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    background-color: #7599bb;
}

.scrolling-list {
    display: inline-block;
    animation: scroll-right 15s linear infinite;
    padding: 0;
    margin: 0;
}

.scrolling-list li {
    display: inline-block;
    padding-right: 0px; /* Space between items */
    line-height: 37px; /* Vertically center the text */
    font-size: 24px; /* Example font size */
}


@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}

h1 {
    font-family: 'Interstate';
    font-weight: 'regular';
    font-style: 'regular';
    font-size: 64px;
}

p {
    font-family: 'Graphik';
    font-weight: 'regular';
    font-style: 'regular';
    font-size: 32px;
}

.underline {
    width: 385px;
    height: 7px;
    flex-shrink: 0;
    border-radius: 20px;
}

.social-icon {
    color: white; /* Default icon color */
    font-size: 24px; /* Icon size */
    margin-right: 20px; /* Space between icons */
}

