<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/wyw1mwv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <!-- Interstate font from personal adobe account, change to JMA account -->
    <link rel="stylesheet" crossorigin href="/jma-web-v2/assets/index-U4g6Xq8w.css">
  </head>

<body>
<footer class="bg-dark text-white pt-36 pb-32 px-8">
    <div class="px-28 grid grid-cols-8 gap-4">
        

      <!-- Mid Content -->
      <div class="col-span-2">
        <div class="col-span-1 flex items-start">
            <a href="./../../index.html"><img  src="/jma-web-v2/assets/jma_logo-Jw-0tIpM.png" class="h-10"/></a>
        </div>
        <p class="font-manrope font-semibold text-xl">John Michael Associates Inc.</p>
        <p class="font-manrope font-regular text-lg">94 Holmes Rd</p>
        <p class="font-manrope font-regular text-lg">Newington, CT 06111</p>
        <p class="font-manrope font-regular text-lg">(860) 666-1414</p>
        <!-- Insert actual links and icons accordingly -->
        <a href="https://linkedin.com" aria-label="LinkedIn" class="hover:text-gray-400 text-2xl">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://facebook.com" aria-label="Facebook" class="hover:text-gray-400 text-2xl">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="https://instagram.com" aria-label="Instagram" class="hover:text-gray-400 text-2xl">
            <i class="fab fa-instagram"></i>
          </a>
      </div>
      
      <!-- Right Side Content -->
      <div class="text-right col-span-5">
        <div class="mt-4 flex justify-between border-b">
            <div class="text-3xl font-manrope font-semibold mb-4">We'd love to work with you. <span class="text-blue">Let's talk.</span></div>
            <a href="/contact" aria-label="Contact us" class="hover:text-gray-400 text-white text-3xl pr-6">
                <i class="fas fa-arrow-right"></i>
            </a>
            
        </div>
        
        <div class="flex space-x-4 justify-end">
          
        </div>
        <div class="flex justify-between space-x-6 py-10 font-manrope text-lg">
          <a href="/pages/WhatWeDo.html" class="hover:text-gray-400">What we do</a>
          <a href="/pages/WhoWeAre.html" class="hover:text-gray-400">Who we are</a>
          <a href="/pages/OurProcess.html" class="hover:text-gray-400">Our process</a>
          <a href="" class="hover:text-gray-400">Shop online</a>
          <a href="/pages/Contact.html" class="hover:text-gray-400">Contact</a>
        </div>     
      </div>
    </div>
  </footer>
</body>
</html>