<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="/https://use.typekit.net/wyw1mwv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- Interstate font from personal adobe account, change to JMA account -->
    <style>
      @keyframes pulse-scale {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
      }
    
      @keyframes pulse-color {
        0%, 100% {
          box-shadow: 0 0 0 0 rgba(29, 78, 216, 0);
        }
        50% {
          box-shadow: 0 0 0 15px rgba(213, 214, 216, 0.3);
        }
      }
    
      .pulse-button {
        animation: pulse-scale 3s infinite, pulse-color 3s infinite;
      }
    </style>
  </head>
<body class="flex overflow-hidden">

<button id="projectButton">
  New Project?
</button>

<script>
    document.addEventListener('DOMContentLoaded', () => {
  const button = document.getElementById('projectButton');

  setInterval(() => {
    // Apply the scale transform
    button.classList.add('transform', 'scale-110');
    setTimeout(() => button.classList.remove('scale-110'), 500);

    // Apply the wave animation
    button.classList.add('wave-animation');
  }, 2000); // Every 2 seconds
});
</script>
</body>
</html>