<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="/https://use.typekit.net/wyw1mwv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- Interstate font from personal adobe account, change to JMA account -->
  </head>

<body>
    <div class="bg-black text-white pt-24">
        <div class="mx-40">
        <!-- Title -->
            <div class="text-left h-20 py-8 uppercase font-inter font-regular px-4 border-b">What we do</div>
            
            <!-- Tabs for categories with left alignment and 1px lines -->
            <div class="flex font-graphik gap-8 pt-10 mb-8 px-4">
                <button class="py-2 px-4 w-72 h-10 bg-tang rounded-full">
                    Corporate Programs
                </button>
                <button class="py-2 px-4 w-72 h-10 bg-dark rounded-full outline outline-1 outline-white">
                    Branding Solutions
                </button>
                <button class="py-2 px-4 w-72 h-10 bg-dark rounded-full outline outline-1 outline-white">
                    Fulfillment Capabilities
                </button>
            </div>
        </div>
    
        <!-- Content for Corporate Programs -->
        <div class="flex flex-col md:flex-row gap-4 pt-10 container mx-auto px-4">
            <!-- Text content -->
            <div class="md:w-2/5">
                <h2 class="text-5xl font-graphik mb-4">Corporate Programs</h2>
                <p class="mb-8 font-graphik font-regular text-[16px]">JMA offers an extensive array of branded promotional products to client organizations and customers through high quality print media and a variety of state-of-the-art web hosting platforms. We excel at constructing your corporate catalog program or company store.</p>
                
                <!-- Sub-menu with 1px lines -->
                <div>
                    <div class="flex justify-between items-center border-b h-16 border-white">
                        <h3 class="font-bold">Special Orders</h3>
                        <button>></button>
                    </div>
                    <div class="flex justify-between items-center border-b h-16 border-white ">
                        <h3 class="font-bold">eCommerce</h3>
                        <button>></button>
                    </div>
                    <div class="flex justify-between items-center h-16">
                        <h3 class="font-bold">Virtual Logos</h3>
                        <button>></button>
                    </div>
                </div>
            </div>
            
            <!-- Image placeholder -->
            <div class="md:w-1/2 bg-gray-300">
                <!-- Replace this div with your image -->
            </div>
        </div>
    </div>
</body>
</html>