<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/../index.css">
    <link rel="stylesheet" href="/https://use.typekit.net/wyw1mwv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  </head>
<body>
  <!-- <div class="fixed top-0 right-0 w-96 h-96 bg-cover bg-no-repeat z-50"
    style="background-image: url('../assets/Background/background-top-right.png');">
    </div>
    <div class="fixed bottom-0 left-0 w-96 h-96 bg-cover bg-no-repeat -z-10"
    style="background-image: url('../assets/Background/background-bottom-left.png');">
    </div> -->
    <div CLASS="W-FULL">
      <img src="../assets/Background/background-top-right.png" alt="" class="fixed pt-24 top-0 right-0 w-FULL bg-cover bg-no-repeat -z-10">
      <img src="../assets/Background/background-bottom-left.png" alt="" class="fixed pt-24 bottom-0 left-0 w-FULL bg-cover bg-no-repeat -z-10">
    </div>
    
    

</body>
</html>