<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="https://use.typekit.net/wyw1mwv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <!-- Interstate font from personal adobe account, change to JMA account -->
  </head>

<body>
<footer class="bg-dark text-white pt-60 pb-8">
  <div class="px-28 pb-20">
    <a href="./../pages/Contact.html" class="flex flex-col justify-between w-full">
        <div class="text-4xl font-manrope font-semibold">Starting a new project or <br/> want to collaborate with us?</div> 
            <span class="text-blue font-manrope font-semibold text-4xl">Let's talk.
                <i class="fas fa-arrow-right pl-2  text-blue align-middle"></i>
            </span>
    </a>
  </div>

  <div class="mx-28 pb-20 flex flex-row max-w-full justify-between">
    <div class="flex flex-col flex-1 space-y-4 font-manrope font-xs">
      <div class="font-semibold">Address</div>
      <line class="w-20 border-b-2 border-blue"></line>
      <div class="font-manrope ">John Michael Associates Inc.</div>
      <div class=" font-man">94 Holmes Road</div>
      <div class="font-man">Newington, CT 06111</div>
      <div class="font-manrope">info@jmalogos.com</div>
      <div class="font-manrope">(860) 666-1414</div>
    </div>
    <div class="flex flex-col flex-1 space-y-4 pl-10">
      <div class="font-semibold">Pages</div>
      <line class="w-20 border-b-2 border-blue"></line>
      <a href="./../pages/WhoWeAre.html" class="hover:text-gray-400">Who we are</a>
      <a href="./../pages/WhatWeDo.html" class="hover:text-gray-400">What we do</a>
      <a href="./../pages/OurProcess.html" class="hover:text-gray-400">Our process</a>
      <a href="./../pages/OurWork.html" class="hover:text-gray-400">Our work</a>
      <a href="" class="hover:text-gray-400">Shop online</a>
      <a href="./../pages/Contact.html" class="hover:text-gray-400">Contact</a>
    </div>
    <div class="flex flex-col flex-1 space-y-4">
      <div class="font-semibold">Social</div>
      <line class="w-20 border-b-2 border-blue"></line>
      <a href="https://www.linkedin.com/company/john-michael-associates-inc/mycompany/" target="_blank" rel="noopener noreferrer" class="text-white">
        <div>LinkedIn</div>
      </a>
      <a href="https://www.instagram.com/jmalogos/" target="_blank" rel="noopener noreferrer" class="text-white">
        <div>Instagram</div>
      </a>
    </div>
    <div class="font-manrope text-xl">
      <div class="pb-4">
      Sign up for our news letter to see <br/>the latest happenings at JMA
      </div>
      <div class="flex flex-col space-y-4">
        <input type="text" placeholder="Email Address" class="text-dark bg-gl px-4 rounded-full h-10"/>
        <div class="text-2xl font-manrope font-semibold">
          <span class="text-blue">Subscribe
              <i class="fas fa-arrow-right pl-2 text-blue text-3xl align-middle"></i>
          </span>
        </div>
      </div>  
    </div>
  </div>

    <div class="flex flex-row pt-10 mx-28 space-x-10 items-end justify-between">
      
      
      <div class="flex space-x-8">
        <img src="../assets/WBENC-Certified+logo.+2020-10-03.png" alt="WBENC Certified Logo" class="rounded-lg h-16"></img>
        <img src="../assets/ppai-100logo.png" alt="MBE Certified Logo" class="rounded-lg h-16"></img>
      </div>
      <div>Copyright © 2024 John Michael Associates Inc.</div>
    </div>
  </footer>
</body>
</html>