<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="../index.css">
    <link rel="stylesheet" href="https://use.typekit.net/wyw1mwv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <!-- Interstate font from personal adobe account, change to JMA account -->
  </head>

  <body class="text-white font-man">

    <div class="pt-60 text-white">hello world</div>

    <div id="category-container" class="md:flex md:flex-col md:justify-between md:space-y-16 md:w-1/2 font-man">
        <div class="category text-5xl text-white cursor-pointer" id="promo">Promotional Solutions</div>
        <div class="category text-5xl text-white cursor-pointer" id="creative">Creative Hub</div>
        <div class="category text-5xl text-white cursor-pointer" id="digital">Digital Storefronts</div>
        <div class="category text-5xl text-white cursor-pointer" id="logistics">Logistics & Fulfillment</div>
    </div>

    <script>
        console.log('script running')
    </script>


    

  </body>